body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header {
    background-color: rgb(30, 30, 30);
    line-height: 85px;
    padding-left: 45px;
    padding-right: 45px;
}

h1 {
    margin: 0;
    display: inline;
    color: white;
}

nav {
    display: inline;
    float: right;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

a + a {
    margin-left: 15px;
}

main {
    padding: 45px;
    background: #eeeeee;
}

footer {
    text-align: center;
    padding: 45px;
}

#my-button {
    color: white;
}

.dark-button {
    background-color: rgb(30, 30, 30);
}

button {
    border-radius: 4px;
    border: none;
    padding: 8px 15px 8px 15px;
}

a + button {
    margin-left: 15px;
}
